.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "search search search search"
        "list list tracking tracking"
        "list list tracking tracking"
        "list list web web"
        "list list web web";
}

.search {
    grid-area: search;
}

.tracking {
    grid-area: tracking;
}

.web {
    grid-area: web;
}

.list {
    grid-area: list;
    margin: auto;
    width: 90%;
  /*  height: 450px;*/
    overflow: auto;
}

.padding {
    padding: 1rem !important
}

.domain-form .form-group {
    border: 1px solid #9fe7f0;
    padding: 20px
}

.domain-form .form-group input {
    height: 70px !important;
    border: transparent
}

.form-control {
    height: 52px !important;
    background: #fff !important;
    color: #3a4348 !important;
    font-size: 18px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.px-4 {
    padding-left: 1.5rem !important
}

.domain-form .form-group .search-domain {
    background: #225ad4;
    border: 2px solid #225ad4;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0
}

.domain-price span {
    color: #3a4348;
    margin: 0 10px
}

.domain-price span small {
    color: #24bdc9
}

.fa-plus-square {
    background: white;
    color: #45bbff;
  }